 _Authors: Petar Jerčić (pjercic@tugraz.at), Jana Lasser (jana.lasser@ds.mpg.de), David Garcia()._  
 _This teaching material is created for the course "Computational Modelling of Social Systems" at TU Graz._

# Python Introductory Tutorial - Data Management
### Some tips
$\rightarrow$ You should take a look at the exercises at home and try to solve as many tasks as you can. In the tutorials you could go on with solving the tasks you could not finish at home and if necessary, ask for help from the tutors. 

$\rightarrow$ You you encounter an error:
1. _Read_ and _understand_ the error message. 
2. Try to find out the solution to the problem ($\rightarrow$ this may be hard at the beginning, but it is very educational!)
3. Search using a search engine for the problem (hint: Stackoverflow) or ask your neighbour!
4. Ask the tutors.

$\rightarrow$ Look out for the sign <font color='green'>**HINT**</font>: these are hints that helps you with solving the task and sometimes additional information regarding the task. 

$\rightarrow$ Tasks marked **(Optional)** are for those of you who are extra fast :-).

# Data Frame and Series structures

Data management is a crucial component to statistical analysis and data science work.  The following code will show how to import data via the pandas library, view your data, and transform your data.

The main data structure that Pandas works with is called a **Data Frame**.  This is a two-dimensional table of data in which the rows typically represent cases (e.g. Titanic passangers), and the columns represent variables.  Pandas also has a one-dimensional data structure called a **Series** that we will encounter when accesing a single column of a Data Frame.

Pandas has a variety of functions named '`read_xxx`' for reading data in different formats.  Right now we will focus on reading '`csv`' files, which stands for comma-separated values. However the other file formats include excel, json, and sql just to name a few.

### Importing Data

In [ ]:
import pandas as pd

# Store the url string that hosts our .csv file
url = "../python_introduction/data/titanic.csv"

# Read the .csv file and store it as a pandas Data Frame
df = pd.read_csv(url)

# Output object type
type(df)

### Viewing Data

In [ ]:
# We can view our Data Frame by calling the head() function
df.head()

The head() function simply shows the first 5 rows of our Data Frame.  If we wanted to show the entire Data Frame we would simply write the following:

In [ ]:
# Output entire Data Frame
df

As you can see, we have a 2-Dimensional object where each row is an independent observation of our cartwheel data.

A. Show the first **10** rows of our Data Frame.  
    <font color='green'>**HINT**: The function ```head()``` takes parameters (as many other functions).</font>

B. Show the **last** 5 rows of our Data Frame.

To gather more information regarding the data, we can view the column names and data types of each column with the following functions:

In [ ]:
df.columns

Lets say we would like to splice our data frame and select only specific portions of our data.  There are three different ways of doing so.

1. .loc()
2. .iloc()
3. .ix()

We will cover the .loc() and .iloc() splicing functions.

### .loc()
.loc() takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.

In [ ]:
# Return all observations of passanger class
df.loc[:,"pclass"]

C. Show sex for all the passangers in our Data Frame.  
    <font color='green'>**HINT**: The function ```head()``` takes parameters (as many other functions).</font>

D. Show sex for the passangers in row 100 to 150 in our Data Frame.  
    <font color='green'>**HINT**: The first parameter is the indexer :, it works as _from row:to row_.</font>

In [ ]:
# Select all rows for multiple columns
df.loc[:,["pclass", "age", "fare"]]

In [ ]:
# Select few rows for multiple columns
df.loc[:9, ["pclass", "age", "fare"]]

In [ ]:
# Select range of rows for all columns
df.loc[10:15]

The .loc() function requires to arguments, the indices of the rows and the column names you wish to observe.

Now, let's say we only want to return the first 10 observations:

In [ ]:
df.loc[:9, "pclass"]

### .iloc()
.iloc() is integer based slicing, whereas .loc() used labels/column names. Here are some examples:

In [ ]:
df.iloc[:4]

In [ ]:
df.iloc[1:5, 2:4]

E. Recreate _df.loc[:9, ["pclass", "sex", "age"]]_ using .iloc() form
    <font color='green'>**HINT**: The column labels are consecutive one after the other..</font>

We can view the data types of our data frame columns with by calling .dtypes on our data frame:

In [ ]:
df.dtypes

The output indicates we have integers, floats, and objects with our Data Frame.

We may also want to observe the different unique values within a specific column, lets do this for Gender:

In [ ]:
# List unique values in the df['Gender'] column
df.sex.unique()

F. Observe the different unique values within the **adult_male** column in our Data Frame.

G. It seems that these fields may serve the same purpose, which is to specify male vs. female. Lets check this quickly by observing only these two columns.
<font color='green'>**HINT**: Use .loc() to specify a list of mulitple column names.</font>

From eyeballing the output, it seems to check out.  We can streamline this by utilizing the groupby() and size() functions.

In [ ]:
df.groupby(['sex','adult_male']).size()

This output indicates that we have an interesting combination. 

* Case 1: Gender = F & adult_male = False 
* Case 2: Gender = M & adult_male = True.  
* Case 3: Gender = M & adult_male = False.  

This in-validates our initial assumption that these two fields essentially portray the same information.

# Appendix

H. **(optional)** Indexing colums using boolean values

In [ ]:
df.iloc[1:5, [True, False, True, False, True, False, True, False, True, False, True, False, True, False, True]]