_This teaching material can be freely used, distributed and modified as per the [CC-BY-SA 4.0](https://creativecommons.org/licenses/by/4.0/legalcode) license._   
 _Authors: Jana Lasser (jana.lasser@ds.mpg.de), Debsankha Manik (debsankha.manik@ds.mpg.de)._  
 _This teaching material is created for the project "Daten Lesen Lernen", funded by Stifterverband and the Heinz Nixdorf Stiftung._

# Solutions to Exercise 2: Lists, loops and tables

### Lists and loops

In [1]:
# 1.A
word_list = ['A', 'string', 'is', 'a', 'chain', 'of', 'characters']

In [2]:
# 1.B
for word in word_list:
    print(word)

A
string
is
a
chain
of
characters

In [3]:
# 1.C
sentence = '' # this is an empty list

for word in word_list:
    sentence = sentence + word
    
print(sentence)

Astringisachainofcharacters

In [4]:
# 1.C second try:
sentence = '' # this is an empty list

for word in word_list:
    # add an extra space before each word
    sentence = sentence + ' ' + word
    
print(sentence)

 A string is a chain of characters

In [5]:
# 1.D 
numbers = [1,2,3,4,5,6,7,8,9,10]

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [6]:
# 1.E
# even numbers
print(numbers[1::2])

# odd numbers
print(numbers[0::2])

# the first four elements
print(numbers[0:4])

# the last four elements
print(numbers[-4:])

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[1, 2, 3, 4]
[7, 8, 9, 10]

### Tables

In [7]:
# 2.A
# import the library pandas under the 
# alias "pd"
import pandas as pd

# load the Titanic dataset and save as
# variable 'titanic_data' 
# DataFrame in der Variable "titanic_data"
titanic_data = pd.read_csv('../data/titanic.csv')

In [8]:
# 2.B
# Show the first few rows of the table
titanic_data.head()

length_data = len(titanic_data)
print('The dataset has {} rows.'.format(length_data))

The dataset has 891 rows.

2.C

This task is more of an exploration task than a task with a single answer, but this is quite often the case when one needs to deal with datasets and understand them. Some background information about the titanic dataset is [available here](https://www.kaggle.com/francksylla/titanic-machine-learning-from-disaster). We summarize the information for each column here as well:
  * ```sibsp``` stands for "sibling" or "spouse" (indicates whether a passenger had a sibling or spouse on board).
  * ```parch``` stands for "parent" or "child" (indicates whether a passenger had a parent or child on board).
  * ```alone``` is self explanatory (equivalent to both ```sibsp``` and ```parch``` being zero).
  * ```pclass``` or ```class``` indicates the class in which a passenger travelled (once as a number, then as a string).
  * ```fare``` is the price one paid for the ticket, ```embark town``` means the town at which the passenger boarded the ship. ```embarked```  is an abbriviation for ```embark town```.
  * ```sex``` and ```age``` are self-explnatory.
  * ```survived``` und ```alive``` indicates whether a passenger survived or not (once as a number, then as a string).
  * ```deck``` indicates the deck at which a passenger's berth at Titanic was. 
  * ```NaN``` as a cell value indicates that no information is avilable regarding certain column for a certain row.

In [9]:
# 2.D 
# compute the average of the column 'fare'
mean_price = titanic_data['fare'].mean()
print('The average ticket price is {}.'\
      .format(mean_price))

The average ticket price is 32.204207968574636.

In [10]:
# 2.E Optional 
# the number of survivors can be computed by summing
# over the column 'survived'. This works, because the
# survivors have value 1 and the non-survivors have
# value 0
survivors = titanic_data['survived'].sum()
print('{} people survived the Titanic disaster.'\
     .format(survivors))

342 people survived the Titanic disaster.

In [11]:
# 2.F
long_list = list(range(0,100))
list_length = len(long_list)
print(list_length)

100

In [12]:
# 2.G Optional
numbers_list = [7, 104, 79, 23, 56]
sum_list = [] # this is an empty list

for num in numbers_list:
    # add to each number the sum of
    # the whole list
    num = num + sum(numbers_list)
    
    # print the new number
    print('new number: {}'.format(num))
    
    # append the new number to the sum_list
    sum_list.append(num)
    
print(sum_list)

new number: 276
new number: 373
new number: 348
new number: 292
new number: 325
[276, 373, 348, 292, 325]

In [13]:
# 2.H
long_list[0::2] = [0]*50
print(long_list)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 11, 0, 13, 0, 15, 0, 17, 0, 19, 0, 21, 0, 23, 0, 25, 0, 27, 0, 29, 0, 31, 0, 33, 0, 35, 0, 37, 0, 39, 0, 41, 0, 43, 0, 45, 0, 47, 0, 49, 0, 51, 0, 53, 0, 55, 0, 57, 0, 59, 0, 61, 0, 63, 0, 65, 0, 67, 0, 69, 0, 71, 0, 73, 0, 75, 0, 77, 0, 79, 0, 81, 0, 83, 0, 85, 0, 87, 0, 89, 0, 91, 0, 93, 0, 95, 0, 97, 0, 99]